.pntdashboard {
    position: fixed;

    @media (min-width: 768px) {
        width: 16rem;
    }
}

.dashboardform {
    @media (min-width: 768px) {
        margin-left: 16rem;
    }
}

.mainDashboardLayout{
    display: 'flex'; 
    flex-direction: 'row';
    max-width: "100%";
    overflow-x: hidden
}